.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-auto-rows: minmax(100px auto);
    gap: 1em;
    align-items: stretch;
  
    /* grid-template-columns: 1fr 1fr 1fr ; */
    /* grid-template-columns: 50% 50%;
    grid-template-rows: auto 100px; */
    /* gap: 5px; para las columnas*/
    /* row-gap: 5px; para las filas*/
    
}

.caja1{
    justify-self: start;
}

.caja2{
    justify-self: end;
}
.caja3{
    justify-self: right;
}

.caja4{
    justify-self: center;
}



.grid > div{
    background: rgb(197, 193, 193);
    padding: 1em;
}
.grid > div:hover{
    border: 1px solid yellow;
}